/* подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие настройки */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.main-grow {
  flex-grow: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-block {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* шапка */
.header-page {
  display: flex;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.nav-logo {
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.nav-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.button-icon {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  color: #000000;
  background-color: #ffffff;
}

.list-block .nav-item:nth-child(1) .button-icon {
  background-image: url("../images/common/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list-block .nav-item:nth-child(2) .button-icon {
  background-image: url("../images/common/icon-favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.btn-menu {
  display: block;
  padding: 8px 32px;
  margin: 14px 0 14px 20px;
}

.current::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.number {
  display: block;
  position: absolute;
  content: "";
  top: 11px;
  left: 20px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  padding: 5px 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
}

/* подвал */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 70px 104px 70px;
}

.newsletter p {
  width: 475px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
}

.newsletter button {
  padding: 8px 50px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-item {
  display: block;
  width: 48px;
  height: 40px;
}

.button-social {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
}

.button-social svg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.button-social:hover svg {
  fill: #68A2CA;
}

.button-social:focus svg {
  fill: #68A2CA;
}

.button-social:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  padding: 5px 20px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-link svg path{
  fill: #000000;
}

.academy-link:hover svg path{
  fill: #756157;
}

.academy-link:focus svg path{
  fill: #756157;
}

.academy-link:active svg path{
  fill: rgba(117, 97, 87, 0.3);
}

/* главная */
.welcom {
  display: block;
  margin: auto;
  padding-top: 50px;
}

.delimiter {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 64px 70px;
}

.footer-delimiter{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 96px 300px;
}

.footer-delimiter p{
  margin-top: 20px;
  margin-bottom: 54px;
}

.footer-delimiter a{
  margin: auto;
  padding: 8px 50px;
}

.delimiter p{
  margin: 0;
  margin-top: 20px;
}

/* каталог */
.catalog-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.searching-results {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 50px 70px 40px 70px;
}

.select-control {
  margin-left: 200px;
  margin-right: 70px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards-hotel {
  width: 300;
  padding: 0 70px 40px 70px;
}

.card-hotel {
  display: grid;
  grid-template: repeat(4, min-content) / repeat(2, 1fr);
  gap: 16px 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
}

.card-hotel .button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.link-hotel {
  grid-column: 1 / -1;
}

.image-hotel {
  padding-bottom: 16px;
}

.txt-position {
  text-align: right;
}

.card-hotel:not(:nth-child(3n)) {
  margin-right: 20px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 40px 70px 60px 70px;
}

.pagination-item a{
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 11px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5,18px);
  gap: 6px;

}

.card-hotel:nth-child(1) .rating::after {
  content: "";
  grid-template-columns: 1 / 2;
  background-image: url("../images/catalog/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.searching-button .button-icon {
  display: block;
  width: 46px;
  height: 46px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.searching-button .button-icon:hover {
  border: 2px solid #000000;
}

.searching-button .button-icon:focus {
  border: 2px solid #68A2CA;
}

.searching-button .button-icon:active {
  border: 2px solid #000000;
}

.searching-button .button-icon:disabled {
  border: 2px solid #E5E5E5;
}

.searching-button .button-icon:nth-child(1) {
  background-image: url("../images/catalog/icon-1.svg");
}

.searching-button .button-icon:nth-child(2) {
  background-image: url("../images/catalog/icon-2.svg");
}

.searching-button .button-icon:nth-child(3) {
  background-image: url("../images/catalog/icon-3.svg");
}


/* фоновые картинки */
.sedona {
  min-height: 485px;
  color: #ffffff;
  background-color: #23A9E1;
  background-image: url("../images/home/divider.svg"),
                    url("../images/home/sedona.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.newsletter-index {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/home/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/catalog/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* шрифты */
.heading-1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.heading-2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.heading-3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.heading-3-none {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.heading-4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.color-second {
  color: #333333;
}

.text-block {
  font-size: 18px;
  line-height: 21px;
}

.text-checkbox {
  font-size: 18px;
  line-height: 23px;
}

.text-small {
  font-size: 16px;
  line-height: 21px;
}

.text-form {
  font-size: 18px;
  line-height: 24px;
}


/* кнопки */

.btn-clr-basic {
  color: #ffffff;
  background-color: #756157;
}

.btn-clr-basic:hover {
  background-color: #615048;
}

.btn-clr-basic:focus {
  background-color: #615048;
}

.btn-clr-basic:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-clr-basic:disabled {
  background-color: #E5E5E5;
}

.btn-clr-second {
  color: #ffffff;
  background-color: #82B3D3;
}

.btn-clr-second:hover {
  background-color: #68A2CA;
}

.btn-clr-second:focus {
  background-color: #68A2CA;
}

.btn-clr-second:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-clr-second:disabled {
  background-color: #E5E5E5;
}

.btn-clr-select {
  color: #ffffff;
  background-color: #7DB54F;
}

.btn-clr-select:hover {
  background-color: #6C9E42;
}

.btn-clr-select:focus {
  background-color: #6C9E42;
}

.btn-clr-select:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-clr-select:disabled {
  background-color: #E5E5E5;
}

.btn-clr-transparent {
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
}

.btn-clr-transparent:hover {
  color: rgba(255, 255, 255, 0.3);
}

.btn-clr-transparent:focus {
  background-color: #6C9E42;
}

.btn-clr-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-clr-transparent:disabled {
  background-color: #E5E5E5;
}

.btn-clr-current {
  color: #000000;
  background-color: #F2F2F2;
}

.btn-clr-non {
  color: #000000;
  background-color: #ffffff;
}

.btn-txt-small {
  font-size: 16px;
  line-height: 20px;
}

.btn-txt-big {
  font-size: 20px;
  line-height: 36px;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}


/* критерии */
.criteria {
  padding-top: 32px;
  text-align: center;
}

.criteria-extreme {
  display: flex;
}

.description {
  width: 400px;
  padding: 102px 84px;
}

.description p{
  padding-top: 62px;
  margin: 0;
}

.description h3 {
  position: relative;
}

.description h3::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 86px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.criteria-item:first-child .description h3::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.criteria-item:last-child .description h3::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.criteria-item:nth-child(even) {
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
}

.criteria-item:nth-child(odd) {
  color: #333333;
  background: rgba(131, 179, 211, 0.2);
}

.criteria-item:first-child {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.criteria-item:last-child {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

/* преимущества */
.advantages {
  text-align: center;
}

.advantages-item {
  display: block;
  width: 400px;
  padding: 80px 84px;
}

.advantages-item p{
  margin: 0;
}
.advantages-item h3{
  padding-top: 102px;
}

.advantages-item:nth-child(even) {
  width: 400px;
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  width: 400px;
  color: #333333;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(1) {
  background-image: url("../images/home/icon-home.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 81px;
}

.advantages-item:nth-child(2) {
  background-image: url("../images/home/icon-food.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 81px;
}

.advantages-item:nth-child(3) {
  background-image: url("../images/home/icon-souvenir.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 81px;
}

/* формы */
.field {
  margin: 0;
  padding: 14px 20px;
  background-color: #F2F2F2;
  opacity: 0.6;
  border: none;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-form {
  display: flex;
}

.newsletter-email .field {
  width: 452px;
}


.catalog-filter {
  display: flex;
}

.catalog-filter-column {
  width: 150px;
}

.catalog-filter-range {
  width: 290px;
}

.catalog-filter-column + .catalog-filter-column {
  margin-left: 50px;
  margin-right: 140px;
}

.catalog-filter .button {
  padding: 8px 50px;
}

.catalog-filter .button + .catalog-filter .button {
  margin-top: 32px;
}


.catalog-filter-group {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  border: none;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: #ffffff;
  opacity: 0.3;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  opacity: 1;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 60px;
  padding: 0 2px;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  appearance: textfield;
}

.range-input::before {
  position: absolute;
  content: "";
  width: 142px;
  height: 48px;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F2F2F2;
}

.catalog-filter-label .text-form {
  color: #000000;
  opacity: 0.3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}
