/* подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* общие настройки */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.main-grow {
  flex-grow: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-block {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* шапка */
.header-page {
  display: flex;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.nav-logo {
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 999;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.button-icon {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  color: #000000;
  background-color: #ffffff;
}

.btn-menu {
  display: block;
  padding: 8px 32px;
  margin: 14px 0 14px 20px;
}

.current {
  padding-bottom: 18px;
  border-bottom: solid 2px #756257;
}

/* подвал */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 70px 104px 70px;
}

.newsletter p{
  margin-top: 20px;
  margin-bottom: 54px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-item {
  width: 48px;
  height: 40px;
}

.footer-phone {
  padding: 5px 20px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* главная */
.welcom {
  display: block;
  margin: auto;
  padding-top: 50px;
}

.delimiter {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 64px 70px;
}

.footer-delimiter{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 96px 300px;
}

.footer-delimiter p{
  margin-top: 20px;
  margin-bottom: 54px;
}

.footer-delimiter a{
  margin: auto;
  padding: 8px 50px;
}

.delimiter p{
  margin: 0;
  margin-top: 20px;
}

/* каталог */
.catalog-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.catalog-filter {
  display: flex;
}

.catalog-block {
  width: 150px;
}

.searching-results {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 50px 70px 40px 70px;
}

.select-control {
  margin-left: 200px;
  margin-right: 70px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards-hotel {
  width: 300;
  padding: 0 70px 40px 70px;
}

.card-hotel {
  padding: 19px;
  margin-bottom: 20px;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
}

.card-hotel:not(:nth-child(3n)) {
  margin-right: 20px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 40px 70px 60px 70px;
}

.pagination-item a{
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}


/* фоновые картинки */
.sedona {
  min-height: 485px;
  color: #ffffff;
  background-color: #23A9E1;
  background-image: url("../images/home/divider.svg"),
                    url("../images/home/sedona.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.newsletter-index {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/home/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/catalog/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* шрифты */
.heading-1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.heading-2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.heading-3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.heading-3-none {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.heading-4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.color-second {
  color: #333333;
}

.text-block {
  font-size: 18px;
  line-height: 21px;
}

.text-checkbox {
  font-size: 18px;
  line-height: 23px;
}

.text-small {
  font-size: 16px;
  line-height: 21px;
}

/* кнопки */
.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.button {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-clr-basic {
  color: #ffffff;
  background-color: #756157;
}

.btn-clr-second {
  color: #ffffff;
  background-color: #82B3D3;
}

.btn-clr-select {
  color: #ffffff;
  background-color: #7DB54F;
}

.btn-clr-current {
  color: #000000;
  background-color: #F2F2F2;
}

.btn-clr-non {
  color: #000000;
  background-color: #ffffff;
}

.btn-clr-transparent {
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
}

.btn-txt-small {
  font-size: 16px;
  line-height: 20px;
}

.btn-txt-big {
  font-size: 20px;
  line-height: 36px;
}

/* критерии */
.criteria {
  padding-top: 32px;
  text-align: center;
}

.criteria-extreme {
  display: flex;
}

.description {
  width: 400px;
  padding: 102px 84px;
}

.description p{
  margin: 0;
}

.criteria-item:nth-child(even) {
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
}

.criteria-item:nth-child(odd) {
  color: #333333;
  background: rgba(131, 179, 211, 0.2);
}

.criteria-item:first-child {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.criteria-item:last-child {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

/* преимущества */
.advantages {
  text-align: center;
}

.advantages-item {
  width: 400px;
  padding: 80px 84px;
}

.advantages-item p{
  margin: 0;
}

.advantages-item:nth-child(even) {
  width: 400px;
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  width: 400px;
  color: #333333;
  background: rgba(131, 179, 211, 0.2);
}
